<!-- src/app/features/features.component.html -->
<section class="features">
    <h2>Why Choose Us?</h2>
    <div class="feature-list">
        <div class="feature">
            <h3>Seamless Integration</h3>
            <p>Built on WASI, our wasm client is secure, lightning-fast, and effortlessly pluggable.</p>
          </div>
      <div class="feature">
        <h3>Lightweight Bitcoin Client</h3>
        <p>Send and receive transactions securely without heavy blockchain downloads.</p>
      </div>
      <div class="feature">
        <h3>Hardware Signers Compatible</h3>
        <p>Leverage your Bitcoin Hardware signers to safely spend coins on-chain with ease..</p>
      </div>
      <div class="feature">
        <h3>Integrated Ark Protocol</h3>
        <p>Instant, off-chain microtransactions for high-speed commerce.</p>
      </div>
      
    </div>