<!-- src/app/how-it-works/how-it-works.component.html -->
<section class="how-it-works">
    <h2>How Our System Works</h2>
    <div class="steps-container">
      <div class="step">
        <div class="step-number">1</div>
        <h3>Embbed Our WASM Client</h3>
        <p>Effortlessly embed our bitspend.wasm client using a WASM-WASI runtime  with just a few lines of code.</p>
      </div>
      <div class="step">
        <div class="step-number">2</div>
        <h3>Securely Process On Chain Payment</h3>
        <p>Our WASI-powered light client handles secure and efficient on-chain transactions.</p>
      </div>
      <div class="step">
        <div class="step-number">3</div>
        <h3>Sign Transaction With Hardward Wallet</h3>
        <p>Sign your transactions with a compatible hardware wallet for ultimate security.</p>
      </div>
      <div class="step">
        <div class="step-number">4</div>
        <h3>Instant Confirmation</h3>
        <p>Utilise the Ark Protocol to securely spend and receive bitcoin with instant comfirmation.</p>
      </div>
    </div>
  </section>